/* Font-Size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.body__home {
  max-height: 100vh; }

.header__img {
  max-width: 170px; }

.menu__link {
  color: black;
  font-size: 2em;
  transition: all 1s;
  text-align: center; }

#footer__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 50px); }

.redes_socialesgalleryDesk {
  font-size: 4rem;
  text-align: center;
  grid-column: 1/3;
  grid-row: 4; }

.backg__Desk {
  padding: 20px;
  text-align: center; }

.txt__bio {
  display: flex justify-content center;
  flex-direction: column;
  text-align: justify;
  font-size: 2em; }

.container__gallery {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(3);
  grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  justify-content: center;
  gap: 1rem;
  background-position: center;
  flex-wrap: wrap; }
  .container__gallery img {
    width: 500px; }
    .container__gallery img__1 {
      grid-area: "img1"; }
    .container__gallery img__2 {
      grid-area: "img2"; }
    .container__gallery img__3 {
      grid-area: "img3"; }
    .container__gallery img__4 {
      grid-area: "img4"; }
    .container__gallery img__5 {
      grid-area: "img5"; }
    .container__gallery img__6 {
      grid-area: "img6"; }

:hover .img__1:hover {
  transform: scale(1.2);
  transition: 1.5s; }

:hover .img__2:hover {
  transform: scale(1.2);
  transition: 1.5s; }

:hover .img__3:hover {
  transform: scale(1.2);
  transition: 1.5s; }

:hover .img__4:hover {
  transform: scale(1.2);
  transition: 1.5s; }

:hover .img__5:hover {
  transform: scale(1.2);
  transition: 1.5s; }

:hover .img__6:hover {
  transform: scale(1.2);
  transition: 1.5s; }

.container__fechas {
  text-align: center;
  margin: 0px auto;
  padding: 2rem;
  padding-bottom: 5rem; }

.title__fechas {
  font-size: 5rem;
  text-align: center;
  padding: 4rem;
  padding-bottom: 5rem; }

.table__margin {
  margin-top: 5rem; }

.table__title {
  font-size: 3em; }

.tabla__fechas {
  font-size: 2.5em; }

.boton__ticket {
  background-color: #d9c487;
  border-color: #d9c487;
  color: #06060b;
  font-size: large;
  font-weight: 700; }
  .boton__ticket a {
    text-decoration: none; }
  .boton__ticket:hover {
    background-color: #53d0bf;
    border-color: #53d0bf; }

.container__disc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center; }

.Dosis, .XNada, .Ion {
  grid-row: 1;
  width: 80%;
  height: 85%; }

.XNada {
  grid-row: 2; }

.Ion {
  grid-row: 3; }

.discos__inf {
  grid-column: 2;
  width: 85%;
  font-weight: 600;
  font-size: large;
  text-align: justify;
  justify-items: stretch; }

.titulos__disc {
  font-size: 4em;
  text-align: left; }

.container__vid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  justify-items: center; }

.vagabundo__vid, .despertares__vid, .disturbio__vid {
  grid-column: 1;
  width: 80%;
  height: 175%; }

.despertares__vid {
  grid-column: 2; }

.disturbio__vid {
  grid-column: 3; }

.box__NomMail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 1rem;
  font-size: large;
  font-weight: 500;
  justify-items: stretch;
  margin: 10px; }

.img__contacto {
  grid-column: 2;
  max-width: 50%;
  margin-left: 300px; }

.btn__contacto {
  background-color: #d9c487;
  font-size: medium;
  font-weight: 2px;
  color: #06060b;
  font-weight: 700;
  margin-top: 7px;
  border-color: #d9c487;
  text-decoration: none; }
  .btn__contacto:hover {
    background-color: #53d0bf;
    border-color: #53d0bf;
    text-decoration-color: black; }

/* --------------------------------- RESPONSIVE -------------------------------------- */
/* --------------------------------Mobile - Home ------------------------------------- */
@media only screen and (max-width: 670px) {
  .body__home {
    margin-top: 1rem;
    padding: 0; }
  .container__home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 50px); }
  .fondo__img {
    grid-row: 2/6; }
  #footer__index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 60px); }
  .redes_socialesgalleryDesk {
    font-size: 4rem;
    text-align: center;
    grid-column: 1/3;
    grid-row: 3; }
  .redes_socialesgalleryMob {
    font-size: 5px; }
  .Copy__galleryMob {
    font-size: small;
    grid-row: 8; }
  .txt__mob {
    font-size: 1.5em; }
  .align__mob {
    padding-top: 70px;
    padding-bottom: 0; } }

/* ---------------------------------- Tablet - Home ----------------------------------- */
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .header__galleryimg {
    max-width: 100px; }
  .backg__Tab {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .backgTab__img {
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 800px; }
  .redes_socialesgalleryMob {
    font-size: 3rem; }
  .align__mob {
    padding-top: 95px;
    padding-bottom: 0; } }

/* ------------------------------------- Mobile - Galeria ------------------------------------ */
@media only screen and (max-width: 480px) {
  .container__gallery {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    justify-content: center; }
  .container__gallery img {
    max-width: 45vh; }
  .header__galleryimg {
    max-width: 100px; }
  .redes_socialesgalleryMob {
    font-size: 3rem; }
  .Copy__galleryMob {
    font-size: small; } }

.tit__gal {
  padding: bottom 1rem; }

/* ----------------------------- Tablet - Galeria ----------------------------------------*/
@media only screen and (min-width: 979px) and (max-width: 1026px) {
  .container__gallery {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    justify-content: center; }
  .container__gallery img {
    max-width: 50vh; }
  .header__galleryimg {
    max-width: 125px; }
  .menu__link {
    color: black;
    font-size: 1.5em;
    transition: all 1s;
    text-align: center; }
  main {
    padding-top: 5rem; }
  footer {
    padding-top: 5rem; }
  .redes_socialesgalleryTab {
    font-size: 4rem; }
  .Copy__galleryTab {
    font-size: 1.5em; } }

@media only screen and (min-width: 481px) and (max-width: 978px) {
  .container__gallery {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    justify-content: center; }
  .container__gallery img {
    max-width: 31vh; }
  .header__galleryimg {
    max-width: 125px; }
  .menu__link {
    color: black;
    font-size: 1.5em;
    transition: all 1s;
    text-align: center; }
  main {
    padding-top: 5rem; }
  footer {
    padding-top: 5rem; }
  .redes_socialesgalleryTab {
    font-size: 4rem; }
  .Copy__galleryTab {
    font-size: 1.5em; } }

/* ----------------------------------- Mobile - Fechas -------------------------------------*/
/* Fechas */
@media only screen and (max-width: 480px) {
  .container__fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 10rem; }
  .title__fechas {
    font-size: 2.1em;
    text-align: center;
    padding: 4rem;
    padding-bottom: 10rem; }
  .table__title {
    font-size: 1em;
    text-align: center; }
  .tabla__fechas {
    font-size: 0.9em; }
  .boton__ticket {
    background-color: #d9c487;
    border-color: #d9c487;
    color: #06060b;
    font-weight: 700;
    font-size: 1em; }
  .Copy__galleryMob {
    font-size: small; } }

/* ----------------------------------- Mobile - Tablet -------------------------------------*/
/* Fechas */
@media only screen and (min-width: 481px) and (max-width: 753) {
  .container__fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 10rem; }
  .title__fechas {
    font-size: 2.1em;
    text-align: center;
    padding: 4rem;
    padding-bottom: 10rem; }
  .table__title {
    font-size: 1em;
    text-align: center; }
  .tabla__fechas {
    font-size: 0.9em; }
  .boton__ticket {
    background-color: #f3f3f3;
    border-color: #e2a223;
    color: black;
    font-weight: 600;
    font-size: 1em; } }

@media only screen and (min-width: 754px) and (max-width: 820) {
  .title__fechas {
    font-size: 2.1em;
    text-align: center;
    padding: 4rem;
    padding-bottom: 10rem; }
  .table__title {
    font-size: 1em;
    text-align: center; }
  .tabla__fechas {
    font-size: 0.9em; }
  .boton__ticket {
    background-color: #f3f3f3;
    border-color: #e2a223;
    color: black;
    font-weight: 600;
    font-size: 1em; } }

/* ----------------------------------- Mobile --------------------------------------*/
/* Discografia */
@media only screen and (max-width: 480px) {
  .container__discMob {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(8 50px); }
  .title__fechasMob {
    padding-bottom: 3.5rem; }
  .discos__inf {
    width: 85%;
    font-weight: 600;
    font-size: small;
    text-align: justify;
    justify-items: center; }
  .Dosis__mob {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%; }
  .Dosis__txtMob {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 2rem;
    text-align: justify; }
  .XNada__mob {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%; }
  .XNada__txtMob {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-left: 2rem;
    text-align: justify; }
  .Ion__mob {
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100%;
    height: 100%; }
  .Ion__txtMob {
    grid-row: 6/7;
    grid-column: 1/3;
    margin-left: 2rem;
    text-align: justify; }
  .titulos__disc {
    font-size: 2em;
    text-align: justify; }
  .container__vidMob {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(6 50px); }
  .vagabundo__vidMob {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%; }
  .despertares__vidMob {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    height: 100%; }
  .disturbio__vidMob {
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    height: 100%; } }

/* ----------------------------------- Tablet --------------------------------------*/
/* Discografia */
@media only screen and (min-width: 481px) and (max-width: 978px) {
  .container__discMob {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(8 50px); }
  .title__fechasMob {
    padding-bottom: 3.5rem; }
  .discos__inf {
    width: 85%;
    font-weight: 600;
    font-size: small;
    text-align: justify;
    justify-items: center; }
  .Dosis__mob {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%; }
  .Dosis__txtMob {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 2rem;
    text-align: justify; }
  .XNada__mob {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%; }
  .XNada__txtMob {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-left: 2rem;
    text-align: justify; }
  .Ion__mob {
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100%;
    height: 100%; }
  .Ion__txtMob {
    grid-row: 6/7;
    grid-column: 1/3;
    margin-left: 2rem;
    text-align: justify; }
  .titulos__disc {
    font-size: 2em;
    text-align: justify; }
  .container__vidMob {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(6 50px); }
  .vagabundo__vidMob {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%; }
  .despertares__vidMob {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    height: 100%; }
  .disturbio__vidMob {
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    height: 100%; } }

/* ------------------------------------- Mobile - Contacto ------------------------------------ */
@media only screen and (max-width: 480px) {
  .box__NomMailMob {
    display: flex;
    flex-direction: column; }
  .img__contactoMob {
    display: none; } }

@media only screen and (min-width: 481px) and (max-width: 991px) {
  .box__NomMailMob {
    display: flex;
    flex-direction: column; }
  .img__contactoMob {
    display: none; } }
