* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*  img {
      width: 100%;
    } */
.header__img {
  max-width: 170px; }

.body__home {
  max-height: 100vh; }

/* ------------------------------- Inicio Home ---------------------------------- */
/* .container__home{
  display: grid;
  
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 2fr);
}

.fondo__img{
  grid-column: 1/13;
  align-items: center;
  
} */
.backg__Desk {
  /* background-color: rgba(111, 111, 60, 0.561);
    background-size: cover; */
  padding: 20px;
  text-align: center;
  /* margin: 0; */
  /* max-width: 1200px; */ }

.menu__link {
  color: black;
  font-size: 2em;
  transition: all 1s;
  text-align: center; }

/* footer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 2rem;
} */
#footer__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 50px); }

.redes_socialesgalleryDesk {
  font-size: 4rem;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1; }

/* ------------------------------- Fin Home ---------------------------------- */
/* ------------------------------- Inicio Galeria ---------------------------------- */
.container__gallery {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(3);
  grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  justify-content: center;
  gap: 1rem;
  background-position: center;
  flex-wrap: wrap; }

.tittle__pagina {
  grid-area: "titulo"; }

.img__1 {
  grid-area: "img1"; }

.img__2 {
  grid-area: "img2"; }

.img__3 {
  grid-area: "img3"; }

.img__3 {
  grid-area: "img3"; }

.img__4 {
  grid-area: "img4"; }

.img__5 {
  grid-area: "img5"; }

.img__6 {
  grid-area: "img6"; }

.container__gallery img {
  width: 500px; }

/* ------------------------------- Fin Galeria ---------------------------------- */
/* ------------------------------- Inicio Fechas ---------------------------------- */
.container__fechas {
  text-align: center;
  margin: 0px auto;
  background-color: white;
  padding: 2rem;
  padding-bottom: 5rem; }

.title__fechas {
  font-size: 5rem;
  text-align: center;
  padding: 4rem;
  padding-bottom: 5rem; }

.table__title {
  font-size: 3em; }

.tabla__fechas {
  font-size: 2.5em; }

.boton__ticket {
  background-color: #f3f3f3;
  border-color: #e2a223;
  color: black;
  font-weight: 600; }

a {
  text-decoration: none; }

.boton__ticket:hover {
  background-color: #aee5de;
  border-color: black;
  text-decoration-color: black; }

/* ------------------------------- Fin Fechas ---------------------------------- */
/* ------------------------------- Inicio Discografia ---------------------------------- */
.container__disc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center; }

.Dosis {
  grid-row: 1;
  width: 80%;
  height: 85%; }

.discos__inf {
  grid-column: 2;
  width: 85%;
  font-weight: 600;
  font-size: large;
  text-align: justify;
  justify-items: stretch; }

.XNada {
  grid-row: 2;
  width: 80%;
  height: 85%; }

.Ion {
  grid-row: 3;
  width: 80%;
  height: 85%; }

.titulos__disc {
  font-size: 4em;
  text-align: left; }

.container__vid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  justify-items: center; }

.vagabundo__vid {
  grid-column: 1;
  width: 80%;
  height: 175%; }

.despertares__vid {
  grid-column: 2;
  width: 80%;
  height: 175%; }

.disturbio__vid {
  grid-column: 3;
  width: 80%;
  height: 175%; }

/* --------------------------------- RESPONSIVE -------------------------------------- */
/* --------------------------------Mobile - Home ------------------------------------- */
@media only screen and (max-width: 670px) {
  /*   .body{
    padding-top: 1rem;
  }
  
  .header__galleryimg {
    max-width: 100px;
  }

  .backg__Mob {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .backg__img{
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 350px;
  } */
  .body__home {
    margin-top: 1rem;
    padding: 0; }
  .container__home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 60px); }
  .fondo__img {
    grid-row: 2/6; }
  #footer__index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 60px); }
  .redes_socialesgalleryDesk {
    font-size: 4rem;
    text-align: center;
    grid-column: 1/3;
    grid-row: 3; }
  .redes_socialesgalleryMob {
    font-size: 5px; }
  .Copy__galleryMob {
    font-size: small;
    grid-row: 8; } }

/* ---------------------------------- Tablet - Home ----------------------------------- */
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .header__galleryimg {
    max-width: 100px; }
  .backg__Tab {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .backgTab__img {
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 800px; }
  .redes_socialesgalleryMob {
    font-size: 3rem; } }

/* ------------------------------------- Mobile - Galeria ------------------------------------ */
@media only screen and (max-width: 480px) {
  .container__gallery {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    justify-content: center; }
  .container__gallery img {
    max-width: 45vh; }
  .header__galleryimg {
    max-width: 100px; }
  .redes_socialesgalleryMob {
    font-size: 3rem; }
  .Copy__galleryMob {
    font-size: small; } }

.tit__gal {
  padding: bottom 1rem; }

/* ----------------------------- Tablet - Galeria ----------------------------------------*/
@media only screen and (min-width: 979px) and (max-width: 1026px) {
  .container__gallery {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    justify-content: center; }
  .container__gallery img {
    max-width: 50vh; }
  .header__galleryimg {
    max-width: 125px; }
  .menu__link {
    color: black;
    font-size: 1.5em;
    transition: all 1s;
    text-align: center; }
  main {
    padding-top: 5rem; }
  footer {
    padding-top: 5rem; }
  .redes_socialesgalleryTab {
    font-size: 4rem; }
  .Copy__galleryTab {
    font-size: 1.5em; } }

@media only screen and (min-width: 481px) and (max-width: 978px) {
  .container__gallery {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto auto auto;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    justify-content: center; }
  .container__gallery img {
    max-width: 31vh; }
  .header__galleryimg {
    max-width: 125px; }
  .menu__link {
    color: black;
    font-size: 1.5em;
    transition: all 1s;
    text-align: center; }
  main {
    padding-top: 5rem; }
  footer {
    padding-top: 5rem; }
  .redes_socialesgalleryTab {
    font-size: 4rem; }
  .Copy__galleryTab {
    font-size: 1.5em; } }

/* ----------------------------------- Mobile - Fechas -------------------------------------*/
/* Fechas */
@media only screen and (max-width: 480px) {
  .container__fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 10rem; }
  .title__fechas {
    font-size: 2.1em;
    text-align: center;
    padding: 4rem;
    padding-bottom: 10rem; }
  .table__title {
    font-size: 1em;
    text-align: center; }
  .tabla__fechas {
    font-size: 0.9em; }
  .boton__ticket {
    background-color: #f3f3f3;
    border-color: #e2a223;
    color: black;
    font-weight: 600;
    font-size: 1em; }
  .Copy__galleryMob {
    font-size: small; } }

/* ----------------------------------- Mobile - Tablet -------------------------------------*/
/* Fechas */
@media only screen and (min-width: 481px) and (max-width: 753) {
  .container__fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 10rem; }
  .title__fechas {
    font-size: 2.1em;
    text-align: center;
    padding: 4rem;
    padding-bottom: 10rem; }
  .table__title {
    font-size: 1em;
    text-align: center; }
  .tabla__fechas {
    font-size: 0.9em; }
  .boton__ticket {
    background-color: #f3f3f3;
    border-color: #e2a223;
    color: black;
    font-weight: 600;
    font-size: 1em; } }

@media only screen and (min-width: 754px) and (max-width: 820) {
  /* .container__fechasTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.5rem;
    padding-bottom: 20rem;
  }
 */
  .title__fechas {
    font-size: 2.1em;
    text-align: center;
    padding: 4rem;
    padding-bottom: 10rem; }
  .table__title {
    font-size: 1em;
    text-align: center; }
  .tabla__fechas {
    font-size: 0.9em; }
  .boton__ticket {
    background-color: #f3f3f3;
    border-color: #e2a223;
    color: black;
    font-weight: 600;
    font-size: 1em; } }

/* ----------------------------------- Mobile --------------------------------------*/
/* Discografia */
@media only screen and (max-width: 480px) {
  .container__discMob {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(8 50px); }
  .title__fechasMob {
    padding-bottom: 3.5rem; }
  .discos__inf {
    width: 85%;
    font-weight: 600;
    font-size: small;
    text-align: justify;
    justify-items: center; }
  .Dosis__mob {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%; }
  .Dosis__txtMob {
    grid-column: 1/3;
    grid-row: 2/3; }
  .XNada__mob {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%; }
  .XNada__txtMob {
    grid-row: 4/5;
    grid-column: 1/3; }
  .Ion__mob {
    grid-column: 1/3;
    grid-row: 5/6;
    width: 100%;
    height: 100%; }
  .Ion__txtMob {
    grid-row: 6/7;
    grid-column: 1/3; }
  .titulos__disc {
    font-size: 2em;
    text-align: justify; }
  .container__vidMob {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(6 50px); }
  .vagabundo__vidMob {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 100%; }
  .despertares__vidMob {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    height: 100%; }
  .disturbio__vidMob {
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    height: 100%; } }
