* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-image: url("./imagenes/FondoPagina1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.BodyContacto{
  background-image: url("./imagenes/fotos/Makena1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}


.BodyGaleria{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}



/* -----------------HEADER----------------- */

nav {
  padding: 20px;
}

.MenuSuperior {
  list-style-type: none;
  text-align: right;
  font-family: 'Archivo Black', sans-serif;
  
}

.MenuSuperior li{
  display: inline-block;
}

.MenuSuperior a{
  text-decoration: none;
  background-color: grey;
  color: white;
  padding: 1rem;
  font-weight: 600;
}


/* ------------FOOTER---------- */

footer{ 
  position: absolute;
  bottom: 0 ;
  color: white;
  font-size: 0.75rem
}

.RedesSociales{
  align-items: flex-end;
  
}