.container__contacto{
  margin: 0px auto;
  padding: 2rem;
}

.box__NomMail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 350px);
  gap: 1rem;
  font-size: large;
  font-weight: 500;
  justify-items: stretch;
  margin: 10px;
}

.img__contacto {
  grid-column: 2;
  max-width: 50%;
  margin-left: 300px;
}

.btn__contacto {
  @include boton;
  font-size: medium;
  margin-top: 7px;
  text-decoration: none;

  &:hover {
    background-color: rgb(83, 208, 191);
    border-color: rgb(83, 208, 191);
  }

}