.container__fechas {
  text-align: center;
  margin: 0px auto;
  padding: 2rem;
  padding-bottom: 5rem;
}

.title__fechas {
  font-size: $text-large2;
  text-align: center;
  padding: 4rem;
  padding-bottom: 5rem;
}


.table__title {
  font-size: $text-medium2
}

.tabla__fechas {
  font-size: $text-medium1
}


.boton__ticket {
  background-color: rgb(243, 243, 243);
  border-color: rgb(226, 162, 35);
  color: black;
  font-weight: 600;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: rgb(174, 229, 222);
    border-color: black;
  }

}