.container__fechas {
  text-align: center;
  margin: 0px auto;
  padding: 2rem;
  padding-bottom: 5rem;
}

.title__fechas {
  font-size: $text-large2;
  text-align: center;
  padding: 4rem;
  padding-bottom: 5rem;
}

.table__margin{
margin-top: 5rem;

}
.table__title {
  font-size: $text-medium2
}

.tabla__fechas {
  font-size: $text-medium1
}


.boton__ticket {
  @include boton;
  font-size: large;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: rgb(83, 208, 191);
    border-color: rgb(83, 208, 191);
  }

}