.container__gallery {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(3);
  grid-template-areas:
    "img1 img2"
    "img3 img4"
    "img5 img6";
  justify-content: center;
  gap: 1rem;
  background-position: center;
  flex-wrap: wrap;

  & img {
    width: 500px;

    &__1 {
      grid-area: "img1";

    }

    &__2 {
      grid-area: "img2";
    }

    &__3 {
      grid-area: "img3";
    }

    &__4 {
      grid-area: "img4";
    }

    &__5 {
      grid-area: "img5";
    }

    &__6 {
      grid-area: "img6";
    }

  }
}

:hover {
  .img__1:hover {
    transform: scale(1.20);
    transition: 1.5s;
  }

  .img__2:hover {
    transform: scale(1.20);
    transition: 1.5s
  }

  .img__3:hover {
    transform: scale(1.20);
    transition: 1.5s
  }

  .img__4:hover {
    transform: scale(1.20);
    transition: 1.5s
  }

  .img__5:hover {
    transform: scale(1.20);
    transition: 1.5s
  }

  .img__6:hover {
    transform: scale(1.20);
    transition: 1.5s
  }
}