.fondo__img{
    grid-column: 1/13;
    align-items: center; 
  }
  
.backg__Desk {
    padding: 20px;
    text-align: center;
  }


  

.txt__bio{
    display: flex
    justify-content center;
    flex-direction: column;  
    text-align: justify;
    font-size: 2em;
    
  }